
/* Show loading screen  */
#Brain.loading::after {
    content: "Fetching Best Prompt... Please Wait...";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(0 0 0 / 70%);
    color: White;
    text-align: center;
    line-height: 100px;
    z-index:100;
}


/* Grid layout for the brain */
#Brain > #BrainGrid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
    background: url(/img/brain.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top:16px;
}


/* Brain Lobes */
#Brain > #BrainGrid > div {
    position:relative;
    border:1px solid rgb(73, 73, 73);
    color:white;
    background-color:#000;
}
#Brain > #BrainGrid > div.loading::after {
    content: "Updating Block";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(24, 107, 43, 0.7);
    color: rgb(254, 133, 133);
    text-align: center;
    line-height: 100px;
    z-index:100;
}

/* Highlight active brain lobe */
#Brain > #BrainGrid > div.active {
    background-color:#000;
}
#Brain > #BrainGrid > div:not(.active):not(.expanded) {
    background-color:rgba(0,0,0,0.2)
}



/* Edit the selected brain Lobe */
#Brain > #BrainGrid > div.expanded {
    position: fixed;
    top: 48px;
    left: 5px;
    right: 5px;
    bottom:5px;
    
    margin:0 auto;
    padding:10px;
    overflow: scroll;
    background-color: #333;
    color:white;
    z-index:11;
}


/* Formatting */
#Brain > #BrainGrid  sub {
    display: block;
    text-align: right;
    color: #AAA;
    font-size: 0.8rem;
    margin: 5px;
}
#Brain > #BrainGrid sub input {
    background-color:transparent;
    color:white;
    border:none; outline:none;
    border-bottom:1px solid white;
    border-radius:0px;
}
#Brain > #BrainGrid  input[type="checkbox"] {
    display: inline;
    margin: 0;
    padding: 0;
    width: 32px;
}

/* small lobe  */
#Brain > #BrainGrid > div:not(.expanded) label {
    display:none;
}
#Brain > #BrainGrid > div:not(.expanded) input {
    background:none;
    color:White;
    border:0px;
    outline:0px;
    font-weight:bolder;
    box-shadow:none;
}
#Brain > #BrainGrid > div:not(.expanded) > div.full {
    display:none;
}
#Brain > #BrainGrid > div:not(.expanded) > div.small {
    display: grid;
    grid-template-columns: auto;
    padding:4px 10px;
}

/* big lobe  */
#Brain > #BrainGrid > div > div {
    display: grid;
    grid-template-columns: 100px auto;
    margin:10px 0;
}

#Brain > #BrainGrid > div > div > label {
    font-size:0.7rem;
    text-align:center;
}

#Brain > #BrainGrid > div > .expand > label {
    font-size:1.1rem;
}

