#Context {
    position:relative;
    width: 80%;
    margin: 5% auto;
    margin-bottom:0;
    padding: 10px 5%;
    color: #EEE;
}

#Context xmp {
    display: block;
    width: 90%;
    max-height: 80%;
    overflow: scroll;
    background-color: #CCC;
    margin: 10px auto;
    padding: 10px;
    color:black;
}