html {
    background-color: black;
}

a {
    text-decoration: none;
    color: lightblue;
    padding: 4px;
}

body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    background: black;
    overflow: scroll;
    font-family: sans-serif;
}



header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 0.7rem;
    background-color: #5174b4;
    color: white;
    padding: 10px 10px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px black;
}
header img {
    height:32px;
}
header > a {
    font-size:32px;
    padding:0; margin:0 10px;
    line-height:0;
}
header>b {
    width: 100px;
}

header input {
    display: inline;
    background-color: transparent;
    padding: 4px;
    color: white;
    border: 0;
    border-radius: 0;
    font-weight: bolder;
}
header input:hover, header input:focus {
    border:0px;
}



nav {
    display:none;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top:64px;
    background-color: #252525;
    transition: opacity 1s ease, display 0s 1s; /* Opacity transition takes 1 second */
}
nav.open {
    opacity: 1;
    display: block;
    transition: opacity 1s ease, display 0s; 
}


nav>div {
    display:block;
    width:100%;
    margin:10px;
    padding:5px;
    color: #999;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: grab;
}

nav>div:active {
    background-color: orange;
}

nav>div.selected {
    color: white;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 32px;
    padding: 5px;
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;

    background-color: #333;
    color: white;
    z-index: 10;
}

main {
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    overflow: scroll;
    background-color: #333;
    z-index: -1;
}

main>section {
    position: relative;
    padding: 10px;
    background-color: transparent;
    min-height: 90%;
    width: 98%;
    margin: 36px 1%;
    margin-bottom: 0;
    padding: 10px 0;
    color: #EEE;
}
main>section>.segment {
    color:#333;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
}
main>section>.segment>label {
    display:block;
    width:100%;
    margin:5px;
}
main>section>.segment>sub {
    display:block;
    width:100%;
    margin:5px;
}

main>section:not(.open) {
    display: none !important;
}

/* each block in the context */
.button {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    line-height: normal;
    text-align: center;
    color: #7b9bf9;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    font-weight: bolder;
    border-bottom: 1px solid;  
}

.button:hover {
    opacity: 1;
}

.button:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}

label {
    padding: 5px;
    display: inline-block;
    font-weight: bolder;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    padding: 6px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

input:hover,
textarea:hover,
select:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

input:active,
textarea:active,
select:active {
    transform: scale(0.95);
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid grey;
}

textarea {
    width: 100%;
    min-height: 100px;
}
input.tiny {
    display: inline-block;
    width:64px;
}